/* Navbar Styles */

*{
  margin: 0;
  padding: 0;
}
.navbar {
  position: relative;
  padding: top;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
}
.nav-link {
  color: #fff;
  text-decoration: none;

}
.navbar-logo h1{
  color: orange;
}

h1 span {
  color: #fff;
}

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-size: 16px;
  color: #fff;
  list-style: none;
}
li{
  /*position: relative;
  left: -100px;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.active .nav-link{
  color: orange;
}
.nav-menu li .nav-link:hover {
  text-decoration: underline;
  color: orange;
  cursor: pointer;
  text-underline-offset: 8px;
}

.nav-btn button{
  border-radius: 12px;
  padding: 10px 10px;
  border: transparent;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  width: auto;
}
.nav-btn .menu-bar {
  color: #fff;
  font-size: 25px;
  display: none;
  margin-left: 55px;
  padding-top: 10px;
}
